@import "tailwindcss";


@layer components {
    .span-style {
        @apply absolute top-0 left-0 w-full h-full origin-center transform-3d lg:[transform:rotateY(calc(var(--i)*45deg))_translateZ(350px)] md:[transform:rotateY(calc(var(--i)*45deg))_translateZ(265px)] sm:[transform:rotateY(calc(var(--i)*45deg))_translateZ(216px)] [transform:rotateY(calc(var(--i)*45deg))_translateZ(120px)];
    }
    .img-style {
        @apply absolute top-0 left-0 w-full h-full rounded-sm object-cover [transition:2s] sm:hover:-translate-y-[50px] hover:-translate-y-[20px] hover:scale-[1.3];
    }
}
@keyframes rotate {
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }
    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

@layer utilities {
    .animate-rotate {
        animation: rotate 30s linear infinite;
    }
    .font-battambang {
        font-family: "Battambang", cursive;
    }
    .font-siemreap {
        font-family: "Siemreap",sans-serif;
    }
    .font-moul {
        font-family: "Moul", sans-serif;
    }
}